# PostgreSQL Database URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/zmc_assignment?schema=public"

# Database credentials for Podman / Docker Compose
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=zmc_assignment
POSTGRES_PORT=5432
